body{

font-family:Arial;
background:#111;
color:white;
margin:0;

}

header{

text-align:center;
background:#8B0000;
padding:20px;

}

.logo{

width:120px;

}

.cardapio{

padding:20px;

}

.pizza{

background:#1c1c1c;
padding:15px;
margin:10px;
border-radius:10px;

}

button{

background:#ff6600;
color:white;
border:none;
padding:10px;
border-radius:5px;

}

.carrinho{

background:#000;
padding:20px;

}

.fidelidade{

text-align:center;
padding:20px;

}